@import "./scss/mixins";
@import "./scss/reset";
@import "./scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Rubik+Distressed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&family=Lato:ital,wght@1,700&family=Rubik+Distressed&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-family: "Rubik Distressed", cursive;
  background-image: $backgroundImage;
  background-attachment: fixed;
  height: 100vh;
}

p{
  font-family: "Almendra Display", cursive;
  color: white;
}
